.app__header {
  height: 9.8rem;
  width: 100%;
  display: flex;
  font-weight: bold;
  border-bottom: 0.5px solid #d9dcdd; }
  .app__header .header__logo {
    width: 38.4rem;
    display: flex;
    align-items: center; }
    .app__header .header__logo .logo__box {
      margin-top: 3.2rem;
      margin-bottom: 3.2rem; }
      .app__header .header__logo .logo__box .logo__text {
        position: relative;
        font-size: 1.7rem;
        display: flex;
        align-items: center;
        margin-left: 5.76rem;
        letter-spacing: 0.1rem;
        z-index: 300; }
        .app__header .header__logo .logo__box .logo__text:before {
          content: "";
          display: block;
          width: 3.5rem;
          height: 3.5rem;
          border: 2.5px solid #d9dcdd;
          position: absolute;
          left: -1.6rem;
          z-index: 1; }
        .app__header .header__logo .logo__box .logo__text:after {
          content: "";
          display: block;
          width: 1.5rem;
          height: 1.5rem;
          border: 2.5px solid #9ecfed;
          position: absolute;
          left: -2.55rem;
          z-index: 2; }
  .app__header .header__nav {
    width: 40%;
    display: flex;
    align-items: center;
    margin-right: 20%; }
    .app__header .header__nav .nav__menu {
      display: flex;
      align-items: center; }
      .app__header .header__nav .nav__menu .menu__element {
        padding-right: 5rem;
        list-style-type: none;
        text-decoration: none;
        font-size: 1.1rem; }
        .app__header .header__nav .nav__menu .menu__element .menu__link {
          text-decoration: none;
          color: black; }
          .app__header .header__nav .nav__menu .menu__element .menu__link:hover {
            display: inline-block;
            border-bottom: 4px solid #d9dcdd;
            padding-bottom: 5px; }

.hamburger__icon {
  margin: 0 4rem 0 0;
  font-size: 2.6rem;
  line-height: 9.8rem;
  display: none; }

#toggle {
  display: none; }

@media only screen and (max-width: 519px) {
  .header__nav {
    width: 100%;
    display: inline;
    z-index: 1000;
    position: relative; }
    .header__nav .nav__hamburger .hamburger__icon {
      display: block;
      cursor: pointer;
      margin: 0 2rem 0 0; }
    .header__nav .nav__menu {
      margin-top: 15.5rem; }
      .header__nav .nav__menu .menu__element {
        border-bottom: 1px solid black;
        justify-content: center;
        background-color: white;
        width: 100%; }
        .header__nav .nav__menu .menu__element .menu__link {
          text-align: center;
          font-size: 3rem;
          padding-left: 12rem; }
  #mobile {
    position: absolute;
    min-width: 520px;
    left: -27rem;
    display: inline-block;
    width: 100vw;
    margin-left: 0; } }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif; }

html {
  font-size: 10px;
  min-width: 390px; }

.app {
  width: 100%; }

.app__homeslider {
  width: 100%;
  border-bottom: 0.5px solid #d9dcdd;
  display: flex; }

.swiper-img {
  width: 70%;
  height: 100vh;
  float: right; }

.swiper-button-next {
  background-color: red; }

.homeslider__left {
  float: left; }
  .homeslider__left .left--btn {
    width: 4rem;
    height: 4rem;
    border: 0.5px solid #d9dcdd; }
  .homeslider__left .left--bluebox {
    width: 9rem;
    height: 9rem;
    background-color: #9ecfed; }

.clearfix {
  clear: both; }
