@import "../modules/all";
@import "../modules/variables";

.aboutus{
  height: 70vh;
  width: 100%;
  @include flexForAll();
  .aboutus__text{
    @include flexForAll();
    flex-direction: column;
    justify-content: center;
    width: 55%;
    height: 100%;
    padding: 10%;
    color: $aboutusTextColor;
    .text__title{
      font-size: 4rem;
      padding-bottom: 4rem;
    }
    .text__description{
      font-size: 1rem;
      line-height: 3rem;
      text-align: justify;
    }
  }
  .aboutus__img{
    height: 100%;
    width: 45%;
    @include flexForAll();
    align-items: center;
    justify-content: flex-end;
    .aboutus__building{
      background: url("../images/5.png") no-repeat;
      @include bgSizeForAll(cover);
      width: 40rem;
      height: 25rem;
      border: 10px solid $mainColor;
      border-right: none;
      position:relative;
      @include flexForAll();
      align-items: center;
      .img__title{
        font-size: 6rem;
        position: absolute;
        left: -12rem;
        font-weight: bold;
        .smaller__text{
          font-size: 5rem;
        }
      }
    }
  }
}

.text__slide--right{
  -moz-animation: 3s slide-to-right forwards;
  -webkit-animation: 3s slide-to-right forwards;
  animation: 3s slide-to-right forwards;
}
.text__slide--left{
  -moz-animation: 4s slide-to-left forwards;
  -webkit-animation: 4s slide-to-left forwards;
  animation: 4s slide-to-left forwards;
}

@media only screen and (max-width: $bp-tablet){
  .img__title{
    font-size: 4rem !important;
    left: 5rem !important;
  }
  .text__title{
    font-size: 2.7rem !important;
  }
}

@media only screen and (max-width: $bp-phablet) {
  .aboutus {
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    height: 100%;
    .aboutus__text {
      width: 100%;
      padding: 13% 7% 10% 13%;
      .text__description {
        font-size: 1.4rem;
      }
    }
    .aboutus__img {
      width: 100%;
      margin-top: 0;
      -webkit-align-items: flex-start;
      align-items: flex-start;
      border-right: 10px solid $mainColor;;
      .aboutus__building{
        width: 100%;
        .img__title{
          font-size: 4rem;
          position: absolute;
          left: 10rem;
          .smaller__text{
            font-size: 3rem;
          }
        }
      }
    }
  }
}
