@import "../modules/all";
@import "../modules/variables";

.aboutus{
  height: 70vh;
  width: 100%;
  max-height: 70rem;
  @include flexForAll();

  .aboutus__text{
    @include flexForAll();
    flex-direction: column;
    justify-content: center;
    width: 55%;
    height: 100%;
    padding: 10%;
    color: $aboutusTextColor;

    @media only screen and (min-width: $bp-desktop){
      padding: 8%;
    }
    .text__title{
      font-size: 4rem;
      padding-bottom: 4rem;
      opacity:0;
      @media only screen and (min-width: $bp-desktop){
        font-size: 5rem;
      }
      @media only screen and (max-width: $bp-tablet){
        font-size: 3rem;
      }
    }
    .text__description{
      font-size: 1.3rem;
      line-height: 3rem;
      text-align: justify;
      opacity:0;
      @media only screen and (min-width: $bp-desktop){
        font-size: 2rem;
        line-height: 4rem;
      }
      @media only screen and (max-width: $bp-tablet){
        font-size: 1.3rem;
      }
    }
  }
  .aboutus__img{
    height: 100%;
    width: 45%;
    @include flexForAll();
    align-items: center;
    justify-content: flex-end;
    @media only screen and (min-width: $bp-desktop){
      justify-content: center;
    }
    .aboutus__building{
      background: url("../images/5.png") no-repeat;
      @include bgSizeForAll(cover);
      width: 40rem;
      height: 25rem;
      border: 10px solid $mainColor;
      border-right: none;
      position:relative;
      @include flexForAll();
      align-items: center;
      opacity:0;
      @media only screen and (min-width: $bp-desktop){
        width: 48rem;
        height: 33rem;
        border: 10px solid $mainColor;
      }
      .img__title{
        font-size: 6rem;
        position: absolute;
        left: -12rem;
        font-weight: bold;
        opacity:0;
        @media only screen and (max-width: $bp-tablet){
            font-size: 4rem ;
            left: 2rem;
        }
        .smaller__text{
          opacity:0;
          font-size: 5rem;
        }
      }
    }
  }
}

.text__slide--right{
  -moz-animation: slide-to-right 1s forwards;
  -webkit-animation:slide-to-right  1s forwards;
  animation: slide-to-right 1s forwards;
}
.text__slide--left{
  -moz-animation:slide-to-left 1s forwards;
  -webkit-animation: slide-to-left 1s forwards;
  animation: slide-to-left 1s forwards;
}


@media only screen and (max-width: $bp-portrait) {
  .aboutus {
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    height: 100%;
    .aboutus__text {
      width: 100%;
      padding: 13% 7% 10% 13%;
      .text__description {
        font-size: 1.4rem;
      }
    }
    .aboutus__img {
      width: 100%;
      margin-top: 0;
      -webkit-align-items: flex-start;
      align-items: flex-start;
      border-right: 10px solid $mainColor;;
      .aboutus__building {
        width: 100%;
        .img__title {
          font-size: 4rem;
          position: absolute;
          left: 10rem;
          .smaller__text {
            font-size: 3rem;
          }
        }
      }
    }
  }
}

