@import "../modules/variables";
@import "../modules/all";



html {
  font-size: 10px;
  min-width: 390px !important;
  scroll-behavior: smooth;
}

.container{
  width: 100%;
}


.wrapper{
  max-width: $wrapper-width;
  margin: 0 auto;
}