@import "../modules/all";
@import "../modules/variables";

.footer{
  width:100%;
  height: 15vh;
  background-color: #000;
  @include centerFlex();
  text-align: center;
  .footer__wraper{
    height: 70%;
    width: 25%;
    @include centerFlex();
    flex-direction: column;

      .logo__text {
        color: #929292;
        font-weight: 700;
        position: relative;
        font-size: 1.7rem;
        @include flexForAll();
        align-items: center;
        margin-left: 5.76rem;
        .logo__zindex{
          z-index: 10;
        }
        &:before {
          @include pseudoelement(3px solid #2f2f2f);
          width: 3.5rem;
          height: 3.5rem;
          left: -2rem;
        }
        &:after {
          @include pseudoelement(3px solid #4a4a4a);
          width: 1.5rem;
          height: 1.5rem;
          left: -2.65rem;
          z-index: 2;
        }
      }
    }
    .copyright{
      color: #5d5d5d;
      padding-top: 1rem;
  }
}

