@import "../modules/all";
@import "../modules/variables";


.form {
  width: 100%;
  height: 100vh;
  .contact {
    width: 81%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    position:relative;
    &:after {
      @include pseudoelement(12px solid $mainColor);
      height: 90%;
      width: 90%;
      top: 5%;
      left: 7%;
      z-index: 3;
    }
    .form__container{
      width: 60%;
      height: 100%;
      position: relative;
      z-index: 20000;
      padding: 9% 5% 0 13%;

      .form__nav{
          padding-bottom: 15%;
        .nav-item{
          display: inline-block;
          padding-right: 5%;
          color: #d9dcdd;
          letter-spacing: 1px;
          font-weight: 600;
          &:hover{
            color: $mainColor;
            text-underline: $mainColor;
            cursor: pointer;
          }
        }
      }

      .phone-info, .email-info{
        height: 100%;
        width: 100%;
        text-align: center;
        padding-top: 5%;
        display: none;
        font-weight: 700;
        font-size: 3rem;
        color: #bcc0cd;
        .phone-info-text, .email-info-text {
          margin: 7% 15%;
          display: block;
          color: $mainColor;
        }
      }

      .phone-info.is-visible, .email-info.is-visible, .form.is-visible {
        display: block;
      }

      .form{
        height: 100%;
        display: none;
        .input, .textarea {
          padding-bottom: 1.5%;
          border: none;
          border-bottom: 0.5px solid $accentColor !important;
          width: 100%;
          margin-bottom: 5%;
          resize: none;
          &:active, &:focus, &:visited{
            background-color: #fff;
          }
        }
        input[type="submit"]{
          border: 1px solid #f2f2f2;
          background-color: white;
          font-weight: 500;
          font-size: 1rem;
          color: #bcc0cd;;
          width: 25%;
          padding: 2%;
          margin-left:36%;
        }

        }
        .input{
          font-weight: 700;
          font-size: 2.5rem;
          color: #bcc0cd;
          &::placeholder{
            font-size: 2.5rem;
            color: #bcc0cd;
          }
          #mail{
            margin-bottom: 0;
          }
        }
        .textarea{
          height: 10rem;
          font-size: 1rem;
          color: #bcc0cd;
          &::placeholder{
            color: #bcc0cd;
          }
        }

          .show-div{
           display:block !important;
        }
      }

    }
    .form__img {
      width: 40%;
      z-index: -2;
      position: relative;
      background-image: url("../images/contactus.png");
      background-size: cover;
    }
  }


@media only screen and (max-width: $bp-phablet){
    #make-wider{
      width: 90%;
      &:after{
        width: 95% !important;
        height: 95% !important;
        top: 3%;
        left: 2%;
      }
    }
}
@media only screen and (max-width: $bp-mobile){
  .form__img{
    display: none;
  }
  .form__container{
    width: 90% !important;
    .form__nav{
      padding-top: 10%;
    }
  }
}