@import "../modules/all";
@import "../modules/variables";


.form__box {
  width: 100%;
  height: 100vh;
  @media only screen and (max-width: $bp-tablet){
    max-height: 80rem;
  }

  .contact {
    width: 81%;
    height: 100%;
    @include flexForAll();
    position:relative;
    @media only screen and (max-width: $bp-phablet){
      width: 90%;
    }
    &:after {
      @include pseudoelement(12px solid $mainColor);
      height: 90%;
      width: 90%;
      top: 5%;
      left: 7%;
      z-index: 3;

      @media only screen and (max-width: $bp-phablet){
        width: 95%;
        height: 95%;
        top: 3%;
        left: 2%;
      }
    }
    .form__container{
      width: 60%;
      height: 100%;
      position: relative;
      z-index: 20000;
      padding: 9% 5% 0 13%;
      @include flexForAll();
      flex-direction: column;
      @media only screen and (max-width: $bp-phablet){
        width: 90%;
      }

      .form__nav{
          padding-bottom: 15%;
        @media only screen and (max-width: $bp-phablet){
          padding-top: 10%;
        }
        .nav-item{
          display: -moz-inline-block;
          display: inline-block;
          padding-right: 5%;
          color: #d9dcdd;
          letter-spacing: 1px;
          font-weight: 600;
          &:hover{
            color: $mainColor;
            text-underline: $mainColor;
            cursor: pointer;
          }
        }
      }

      .phone-info, .email-info{
        height: 80%;
        width: 100%;
        padding-top:20%;

        text-align: center;
        display: none;
        font-weight: 700;
        font-size: 3rem;
        color: #bcc0cd;
        .phone-info-text, .email-info-text {
          display: block;
          color: $mainColor;
        }
      }

      .phone-info.is-visible, .email-info.is-visible, .form.is-visible {
        display: block;
      }

      .form{
        height: 80%;
        display: none;
        .input, .textarea {
          padding-bottom: 1.5%;
          border: none;
          border-bottom: 0.5px solid $accentColor;
          width: 100%;
          margin-bottom: 5%;
          resize: none;
          &:active{
            background-color: #fff;
          }
        }
        input[type="submit"]{
          border: 1px solid #f2f2f2;
          background-color: white;
          font-weight: 500;
          font-size: 1rem;
          color: #bcc0cd;;
          width: 25%;
          padding: 2%;
          margin-left:36%;
        }

      }
        .input{
          font-weight: 700;
          font-size: 2.5rem;
          color: #bcc0cd;
          height: 7%;
          &::placeholder{
            font-size: 2.5rem;
            color: #bcc0cd;
          }
          #mail{
            margin-bottom: 0;
          }
        }
        .textarea{
          height: 25%;
          font-size: 1rem;
          color: #bcc0cd;
          &::placeholder{
            color: #bcc0cd;
          }
        }
          .show-div{
           display:block;
        }
      }

    }
    .form__img {
      width: 40%;
      z-index: -2;
      position: relative;
      background-image: url("../images/contactus.png");
      @include bgSizeForAll(cover);
      -o-object-fit: cover;
      object-fit: cover;
      @media only screen and (max-width: $bp-phablet){
        display: none;
      }
    }
  }

.error {
  color: $errorColor;
  text-align: center;
  padding: 0.3rem 0;
}