
//hover effect
@media only screen and (min-width: 900px) {
  .menu__link {
    text-decoration: none;
    color: black;
    padding-right: 4rem !important;
    &:hover {
      border-bottom: 4px solid #f2f2f2;
      padding-bottom: 5px;
      // text-decoration: underline solid #d9dcdd !important;
    }
  }
}
.hamburger__icon {
  font-size: 2.6rem;
  line-height: 9.8rem;
  display: none;
  padding-left: 120%;
  width: 2.6rem;
}
#toggle {
  display: none;
}


//mobile
@media only screen and (max-width: 519px) {

  .app__header{
    width: 100%;
  }
  .hamburger__icon{
    display: block;
    cursor: pointer;
  }
  .nav__menu{
    display: none !important;
    text-align: center;
    width: 100%;
    position: absolute;
    left: -0.1rem;
    top: 9.8rem;
    z-index: 20000 !important;
    background-color: white;
    margin-right: 5rem;
  }
  .menu__link{
    display: block !important;
    border-bottom: 1px solid #f2f2f2;
    margin: 0;
    font-size: 3rem !important;
    padding: 1.5rem 5rem;
    width: 100%;
  }
  #toggle:checked + .nav__menu {
    display: block !important;
  }
  .app__header{
    position: relative;
  }
}

@media only screen and (min-width: 519px) and (max-width: 767px){
  .app__header{
    width: 100% !important;
    margin-right: 2rem !important;
  }
  .header__nav{
    width: 70% !important;
      .menu__link:first-child{
        padding-left: 2rem;
      }
      .menu__link{
        width: 16.6%;
      }
    }

  }


@mixin pseudoelement($border){
  content: "";
  display: block;
  position: absolute;
  border: $border;
}

.app__header {
  height: 9.8rem;
  width: 100%;
  display: flex;
  border-bottom: 0.5px solid #f2f2f2;
  .header__logo {
    width: 38.4rem;
    display: flex;
    align-items: center;
    font-weight: 900;
    .logo__box{
      margin-top: 3.2rem;
      margin-bottom: 3.2rem;
      .logo__text {
        position: relative;
        font-size: 1.7rem;
        display: flex;
        align-items: center;
        margin-left: 5.76rem;
        .logo__zindex{
          z-index: 10;
        }
        &:before {
          @include pseudoelement(3px solid #f2f2f2);
          width: 3.5rem;
          height: 3.5rem;
          left: -2rem;
        }
        &:after {
          @include pseudoelement(3px solid #97d1eb);
          width: 1.5rem;
          height: 1.5rem;
          left: -2.65rem;
          z-index: 2;
        }
      }
    }
  }

  .header__nav {
    font-weight: 700;
    width: 40%;
    display: flex;
    align-items: center;
    margin-right: 30%;
    .nav__menu {
      display: flex;
      align-items: center;
      margin-right: 5rem;
      .menu__link {
        text-decoration: none;
        color: black;
        font-size: 1.1rem;
        padding-right: 3rem !important;
      }
    }
  }
}

$bp-mobile-narrow                 : ( max:  479px );
$bp-mobile                        : ( max:  519px );
$bp-phablet                       : ( max:  767px );
$bp-portrait                      : ( max:  1023px );
$bp-tablet                        : ( max:  1199px );
$bp-desktop                       : ( max: 1359px );
$bp-desktop-wide                  : ( max: 1600px );