@import "../modules/all";
@import "../modules/variables";

.header {
  height: 9.8rem;
  width: 100%;
  @include flexForAll();
  border-bottom: 0.05rem solid $accentColor;

    @media only screen and (min-width: $bp-mobile) and (max-width: $bp-phablet ){
      margin-right: 2rem;

    } @media only screen and (max-width: $bp-mobile) {
        position: relative;
      }
  .header__logo {
    width: 38.4rem;
    @include flexForAll();
    align-items: center;
    font-weight: 900;
    .logo__box{
      margin: 3.2rem 0;
      .logo-text {
        position: relative;
        font-size: 1.7rem;
        @include flexForAll();
        align-items: center;
        margin-left: 5.76rem;
        .logo-zindex{
          z-index: 10;
        }
        &:before {
          @include pseudoelement(0.3rem solid $accentColor);
          width: 3.5rem;
          height: 3.5rem;
          left: -2rem;
        }
        &:after {
          @include pseudoelement(3px solid $mainColor);
          width: 1.5rem;
          height: 1.5rem;
          left: -2.65rem;
          z-index: 2;
        }
      }
    }
  }

  .header__nav {
    width: 40%;
    @include flexForAll();
    align-items: center;
    margin-right: 30%;

      @media only screen and (min-width: $bp-mobile) and (max-width: $bp-phablet ){
        width: 70%;
      }
    .nav__menu {
      width: 100%;
      font-weight: 700;
      @include flexForAll();
      align-items: center;

      @media only screen and (min-width: $bp-desktop){
        justify-content: center;
        margin-left: 30%;

      } @media only screen and (max-width: $bp-mobile) {
        display: none;
        text-align: center;
        width: 100%;
        position: absolute;
        left: -0.1rem;
        top: 9.8rem;
        z-index: 20000 ;
        background-color: #fff;
        margin-right: 5rem;
        transition: All 1s ease;
        -webkit-transition:All 1s ease;
        -moz-transition:All 1s ease;
        -o-transition:All 1s ease;
      }
      .menu__link {
        text-decoration: none;
        color: black;
        font-size: 1.4rem;
        margin-right: 2rem;

        @media only screen and (min-width: $bp-desktop){
          font-size: 2rem;
        }
        @media only screen and (min-width: $bp-mobile) and (max-width: $bp-tablet  ){
          font-size: 1.3rem;
          &:first-child{
            margin-left: 3rem;
          }
        }
        @media only screen and (max-width: $bp-mobile) {
            display: none ;
            border-bottom: 0.01rem solid $accentColor;
            font-size: 3rem ;
            margin: 0;
            padding: 1.5rem 5rem;
            width: 100%;
        }
      }
    }
  }
}

.hamburger__icon {
  font-size: 2.6rem;
  line-height: 9.8rem;
  display: none;
  padding-left: 120%;
  width: 2.6rem;
    @media only screen and (max-width: $bp-mobile) {
      display: block;
      cursor: pointer;
    }
}
#toggle {
  display: none;
}

//hover effect on the navigation
@media only screen and (min-width: $bp-portrait) {
  .menu__link{
    position: relative;
    &:before{
      content:"";
      position: absolute;
      width: 100%;
      height: 0.5rem;
      bottom: -1rem;
      left:0;
      background-color: $accentColor;
      visibility: hidden;
      -webkit-transform: scaleX(0);
      transform: scaleX(0);
      -webkit-transition: all 0.25s ease-in-out;
      transition: all 0.25s ease-in-out;
    }
    &:hover{
      &:before{
        visibility: visible;
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
      }
    }
  }
}

//mobile
@media only screen and (max-width: $bp-mobile) {
  #toggle:checked + .nav__menu {
    display: block;
    -moz-animation: 0.5s slide-down  ease-in;
    -webkit-animation: 0.5s slide-down ease-in;
    animation: 0.5s slide-down  ease-in;
    .menu__link {
      display: block;
    }
  }
}


