@import "../modules/all";
@import "../modules/variables";

.homeslider {
  width: 100%;
  height: 85vh;
  border-bottom: 0.5px solid $accentColor;
  @include flexForAll();
  .swiper-container {
    width: 100%;
    margin-right: 0;
    .swiper-wrapper {
      width: 70%;
      color: black;
      font-size: 3rem;
      z-index: -10;
      .swiper-slide {
        position: relative;
        .swiper-img {
          width: 87%;
          height: 100vh;
          float: right;
        } .swiper-wraper-text {
          position: absolute;
          display: block;
          top: 50%;
          transform: translateY(-50%);
          -o-transform: translateY(-50%);
          -moz-transform: translateY(-50%);
          -webkit-transform: translateY(-50%);
          font-size: 5.5rem;
          font-weight: 900;
          line-height: 8.5rem;
          padding-left: 4.5rem;
          letter-spacing: 4px;

          @media only screen and (max-width: $bp-tablet) {
            font-size: 4rem;
          }

          @media only screen and (max-width: $bp-mobile){
             font-size: 3.5rem;
          }
          &:after {
            content: "";
            display: block;
            width: 50rem;
            height: 1rem;
            background-color: #9ecfed;
            z-index: 100;
            margin-top: 2rem;
            @media only screen and (max-width: $bp-tablet) {
              width: 39rem;
            }
            @media only screen and (max-width: $bp-mobile){
              width: 34rem;
            }
          }
        }
      }
    }
  }
}

.homeslider__left {
  float: left;
  height: 85vh;
  @include centerFlex();
  flex-direction: column;
  padding-left: 8.5rem;
  background-color: white;
  .left-line{
    border: 0.05rem solid $accentColor;
    height: 26vh;
    z-index: 1000;
  }
  .left-btn{
    width:4rem;
    height:4rem;
    border: 0.5px solid $accentColor;
    z-index: 1000;
    position:relative;

    .swiper-button-prev{
      background-image: url("../images/arrow_left.png");
      @include bgSizeForAll(2rem 2rem);
      transform: translateX(-0.5rem);
    }
    .swiper-button-next {
      background-image: url("../images/arrow_right.png");
      @include bgSizeForAll(2rem 2rem);
      transform: translateX(0.5rem);
    }
  }
  .left-bluebox{
    width:13rem;
    height:13rem;
    background-color: $mainColor;
    color: white;
    text-align: center;
    font-size: 5rem;
    font-weight: 700;
    z-index: 1000;
    .left-number{
      display: -moz-inline-block;
      display: inline-block;
      padding-top: 2.5rem;
      z-index: 1000;
    }
  }
}
.clearfix {
  clear:both;
}

@media only screen and (min-width: $bp-tablet){
  .tablets-swiper{
    display: none;
  }
}

@media only screen and (max-width: $bp-tablet) {
  .homeslider__left, .swiper-button-prev, .swiper-button-next {
    display: none;
  }
  .tablets-swiper{
    font-size: 4rem;
    position: absolute;
    right:1%;
    bottom: 50%;
    text-align: center;
    padding-top:0.7rem;
    -moz-animation:  slide-to-right 2s infinite;
    -webkit-animation:slide-to-right 2s infinite;
    animation: slide-to-right 2s infinite;
  }
}


