@import "../modules/all";
@import "../modules/variables";

.homeslider {
  width: 100%;
  height: 85vh;
  max-height: 626px;
  border-bottom: 0.5px solid $accentColor;
  display: flex;
  .swiper-container {
    width: 100%;
    margin-right: 0;
    .swiper-wrapper {
      width: 70%;
      color: black;
      font-size: 3rem;
      z-index: -10;
      .swiper-slide {
        position: relative;
        .swiper-img {
          width: 87%;
          height: 100vh;
          float: right;
        } .swiper-wraper-text {
          position: absolute;
          display: block;
          top: 50%;
          transform: translateY(-50%);
          font-size: 5.5rem;
          font-weight: 900;
          line-height: 8.5rem;
          padding-left: 4.5rem;
          letter-spacing: 4px;
          &:after {
            content: "";
            display: block;
            width: 50rem;
            height: 1rem;
            background-color: #9ecfed;
            z-index: 100;
            margin-top: 2rem;
          }
        }
      }
    }
  }
}

.homeslider__left {
  float: left;
  @include centerFlex();
  flex-direction: column;
  padding-left: 8.5rem;
  background-color: white;
  .left-line{
    border: 0.5px solid $accentColor;
    height: 26vh;
    z-index: 1000;
  }
  .left-btn{
    width:4rem;
    height:4rem;
    border: 0.5px solid $accentColor;
    z-index: 1000;
  }
  .left-bluebox{
    width:13rem;
    height:13rem;
    background-color: $mainColor;
    color: white;
    text-align: center;
    font-size: 5rem;
    font-weight: 700;
    z-index: 1000;
    .left-number{
      display: inline-block;
      padding-top: 2.5rem;
      z-index: 1000;
    }
  }
}
.clearfix {
  clear:both;
}

.swiper-button-prev{
  position: absolute;
  left: 136px !important;
  top:170px !important;
  background-image: url("../images/arrow_left.png");
  width: 120px;
  height: 120px;
}

.swiper-button-prev, .swiper-button-disabled {
  background-image: url("../images/arrow_left.png") !important;
  background-size: 15px 20px !important;
  z-index: 2000;
}
.swiper-button-next {
  background-image: url("../images/arrow_right.png") !important;
  background-size: 15px 20px !important;
  position: relative;
  left: 136px !important;
  top: 340px !important;
  z-index: 2000;
}
@media only screen and (min-width: $bp-tablet){
  .tablets-swiper{
    display: none;
  }
}


@media only screen and (max-width: $bp-tablet) {
  .homeslider__left, .swiper-button-prev, .swiper-button-next {
    display: none;
  }
  .swiper-wraper-text {
    font-size: 4rem !important;
    &:after {
      width: 39rem !important;
    }
  }

  .tablets-swiper{
    font-size: 4rem;
    position: absolute;
    right:1%;
    bottom: 50%;
    text-align: center;
    padding-top:0.7rem;
    -webkit-animation: 2s slide-to-right infinite;
    animation: 2s slide-to-right infinite;
  }
}
  @media only screen and (max-width: $bp-mobile){
    .swiper-wraper-text{
      font-size: 3.5rem !important;
      &:after{
        width: 34rem !important;
      }
    }
  }

