@import "../modules/variables";
@import "../modules/all";

.inspirations {
  width: 100%;
  height: 80vh;
  display: flex;

  @each $number in 1, 2, 3, 4 {
    .insp#{$number} {
      background-image: url('../images/insp#{$number}.png');
      //transition: all .2s ease-in-out;
      //-webkit-filter: blur(2px);
      //&:hover {
      //  -webkit-filter: blur(0px);
      }
    }

  .text__slide--down{
    -webkit-animation: 3s slide-down forwards;
    animation: 3s slide-down forwards;
  }
  .inspirations__foto {
    width: 25%;
    background-size: cover;
    @include centerFlex();
      .inspiration__foto-text {
        color: white;
        font-size: 4rem;
        font-weight: bold;
      }
    &:hover {
      &:after {
        @include pseudoelement(1rem solid $mainColor);
        width: 20%;
        height: 70%;
        z-index: 2;
        cursor:pointer;
      }
    }
    .toggle-text{
      display: none;
    }
  }
}


@media only screen and (min-width: $bp-mobile) and (max-width: $bp-portrait) {
  .inspirations{
    flex-wrap: wrap;
    height: 100%;
    .inspirations__foto{
      width: 50%;
      height: 50vh;
      &:hover {
        &:after {
          width: 45%;
          height: 45%;
        }
      }
    }
  }
}

@media only screen and (max-width: $bp-mobile) {
  .inspirations{
    flex-wrap: wrap;
    height: 100%;
    .inspirations__foto{
      width: 100%;
      height: 50vh;
      &:hover {
        &:after {
          width: 90%;
          height: 45%;
        }
      }
    }
  }
}

.show-text{
  display: block ;
  color: white ;
  font-size: 1.5rem;
  padding: 15%;
  text-align: center;
  -webkit-animation: 3s slide-down forwards;
  animation: 3s slide-down forwards;
}

.none{
  display: none;
}