@import "variables";


@mixin pseudoelement($border){
  content: "";
  display: block;
  position: absolute;
  border: $border;
}
@mixin centerFlex() {
  display: flex;
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  justify-content: center;
  align-items: center;
}

@mixin pseudonumber($content) {
  content: $content;
  display: block;
  position: absolute;
  z-index: -2;
  font-weight: 700;
  color: white;
  font-size: 20rem;
  bottom: -200%;
  left: 30%;
  text-shadow: 2px 2px 5px #B5AEB1;
}

@mixin flexForAll(){
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
}
@mixin bgSizeForAll($backgroundSize){
  -o-background-size: $backgroundSize;
  -moz-background-size: $backgroundSize;
  -webkit-background-size:$backgroundSize;
  background-size:$backgroundSize;
}

//SLIDE RIGHT

@-webkit-keyframes slide-to-right {
  from {
    -webkit-transform: translateX(-50px);
    transform: translateX(-50px);
    opacity: 0; }
  to {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1; }
}
@-moz-keyframes slide-to-right {
  from {
    -webkit-transform: translateX(-50px);
    transform: translateX(-50px);
    opacity: 0; }
  to {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1; }
}
@-o-keyframes slide-to-right {
  from {
    -o-transform: translateX(-50px);
    transform: translateX(-50px);
    opacity: 0; }
  to {
    -o-transform: translateX(0);
    transform: translateX(0);
    opacity: 1; }
}
@keyframes slide-to-right {
  from {
    -webkit-transform: translateX(-50px);
    transform: translateX(-50px);
    opacity: 0; }
  to {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1; }
}

//SLIDE LEFT

@-webkit-keyframes slide-to-left {
  from {
    -webkit-transform: translateX(50px);
    transform: translateX(50px);
    opacity: 0; }
  to {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1; }
}
@-moz-keyframes slide-to-left {
  from {
    -webkit-transform: translateX(50px);
    transform: translateX(50px);
    opacity: 0; }
  to {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1; }
}
@-o-keyframes slide-to-left {
  from {
    -o-transform: translateX(50px);
    transform: translateX(50px);
    opacity: 0; }
  to {
    -o-transform: translateX(0);
    transform: translateX(0);
    opacity: 1; }
}
@keyframes slide-to-left {
  from {
    -webkit-transform: translateX(50px);
    transform: translateX(50px);
    opacity: 0; }
  to {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1; }
}

// DOWN
@-webkit-keyframes slide-down {
  from {
    -webkit-transform: translateY(-70px);
    transform: translateY(-70px);
    opacity: 0; }
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1; }
}
@-moz-keyframes slide-down {
  from {
    -webkit-transform: translateY(-70px);
    transform: translateY(-70px);
    opacity: 0; }
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1; }
}
@-o-keyframes slide-down {
  from {
    -o-transform: translateY(-70px);
    transform: translateY(-70px);
    opacity: 0; }
  to {
    -o-transform: translateY(0);
    transform: translateY(0);
    opacity: 1; }
}
@keyframes slide-down {
  from {
    -webkit-transform: translateY(-70px);
    transform: translateY(-70px);
    opacity: 0; }
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1; }
}

// UP
@-webkit-keyframes slide-up {
  from {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0; }
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1; }
}
@-moz-keyframes slide-up {
  from {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0; }
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1; }
}
@-o-keyframes slide-up {
  from {
    -o-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0; }
  to {
    -o-transform: translateY(0);
    transform: translateY(0);
    opacity: 1; }
}
@keyframes slide-up {
  from {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0; }
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1; }
}




// fade in
@-webkit-keyframes fade-in {
  from {
    opacity: 0; }
  to {
    opacity: 1; }
}
@-moz-keyframes fade-in {
  from {
    opacity: 0; }
  to {
    opacity: 1; }
}
@-o-keyframes fade-in {
  from {
    opacity: 0; }
  to {
    opacity: 1; }
}
@keyframes fade-in {
  from {
    opacity: 0; }
  to {
    opacity: 1; }
}

/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid green;
  -webkit-text-fill-color: $aboutusTextColor;
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
  transition: background-color 5000s ease-in-out 0s;
}