
@mixin pseudoelement($border){
  content: "";
  display: block;
  position: absolute;
  border: $border;
}
@mixin centerFlex() {
  display: flex;
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  justify-content: center;
  align-items: center;
}

@mixin pseudonumber($content) {
  content: $content;
  display: block;
  position: absolute;
  z-index: -2;
  font-weight: 700;
  color: white;
  font-size: 20rem;
  bottom: -200%;
  left: 30%;
  text-shadow: 2px 2px 5px #B5AEB1;
}

@mixin flexForAll(){
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
}
@mixin bgSizeForAll($backgroundSize){
  -o-background-size: $backgroundSize;
  -moz-background-size: $backgroundSize;
  -webkit-background-size:$backgroundSize;
  background-size:$backgroundSize;
}

//SLIDE RIGHT

@-webkit-keyframes slide-to-right {
  from {
    -webkit-transform: translateX(-50px);
    transform: translateX(-50px);
    opacity: 0; }
  to {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1; }
}
@-moz-keyframes slide-to-right {
  from {
    -webkit-transform: translateX(-50px);
    transform: translateX(-50px);
    opacity: 0; }
  to {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1; }
}
@-o-keyframes slide-to-right {
  from {
    -o-transform: translateX(-50px);
    transform: translateX(-50px);
    opacity: 0; }
  to {
    -o-transform: translateX(0);
    transform: translateX(0);
    opacity: 1; }
}
@keyframes slide-to-right {
  from {
    -webkit-transform: translateX(-50px);
    transform: translateX(-50px);
    opacity: 0; }
  to {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1; }
}

//SLIDE LEFT

@-webkit-keyframes slide-to-left {
  from {
    -webkit-transform: translateX(50px);
    transform: translateX(50px);
    opacity: 0; }
  to {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1; }
}
@-moz-keyframes slide-to-left {
  from {
    -webkit-transform: translateX(50px);
    transform: translateX(50px);
    opacity: 0; }
  to {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1; }
}
@-o-keyframes slide-to-left {
  from {
    -o-transform: translateX(50px);
    transform: translateX(50px);
    opacity: 0; }
  to {
    -o-transform: translateX(0);
    transform: translateX(0);
    opacity: 1; }
}
@keyframes slide-to-left {
  from {
    -webkit-transform: translateX(50px);
    transform: translateX(50px);
    opacity: 0; }
  to {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1; }
}

// DOWN
@-webkit-keyframes slide-down {
  from {
    -webkit-transform: translateY(-70px);
    transform: translateY(-70px);
    opacity: 0; }
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1; }
}
@-moz-keyframes slide-down {
  from {
    -webkit-transform: translateY(-70px);
    transform: translateY(-70px);
    opacity: 0; }
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1; }
}
@-o-keyframes slide-down {
  from {
    -o-transform: translateY(-70px);
    transform: translateY(-70px);
    opacity: 0; }
  to {
    -o-transform: translateY(0);
    transform: translateY(0);
    opacity: 1; }
}
@keyframes slide-down {
  from {
    -webkit-transform: translateY(-70px);
    transform: translateY(-70px);
    opacity: 0; }
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1; }
}