
$mainColor : #97d1eb; // main blue
$accentColor : #f2f2f2; //light gray
$aboutusTextColor : #a2a6ad; //dark grey
$wrapper-width: 192rem;
$errorColor : rgba(187,5,10,0.8);


//RWD breakpoints
$bp-mobile-narrow : 479px;
$bp-mobile : 519px ;
$bp-phablet : 767px ;
$bp-portrait : 1023px;
$bp-tablet  : 1199px ;
$bp-desktop   : 1359px ;
$bp-desktop-wide  :1600px ;


