$raleway-font-stack: 'Raleway', sans-serif !default;
$mainColor : #97d1eb; // main blue
$accentColor : #f2f2f2; //light gray


//RWD breakpoints
$bp-mobile-narrow : 479px;
$bp-mobile : 519px ;
$bp-phablet : 767px ;
$bp-portrait : 1023px;
$bp-tablet  : 1199px ;
$bp-desktop   : 1359px ;
$bp-desktop-wide  :1600px ;




//f2f2f2 --> logo and hover in header